<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" android:largeHeap="true"
        android:name="com.pillpal.app.appcomponents.di.MyApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true" android:theme="@style/Theme.MyApp" android:usesCleartextTraffic="true">
        <activity
            android:name="com.pillpal.app.modules.welcomeone.ui.WelcomeoneActivity" android:screenOrientation="portrait"/>

        <activity
            android:name="com.pillpal.app.modules.druginteractionresult.ui.DrugInteractionResultActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.pillpal.app.modules.druginteractiontwodrugs.ui.DrugInteractionTwoDrugsActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.pillpal.app.modules.welcometwo.ui.WelcometwoActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.pillpal.app.modules.druginteractiononendrug.ui.DrugInteractionOnenDrugActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.pillpal.app.modules.welcome.ui.WelcomeActivity" android:screenOrientation="portrait"/>


        <activity
            android:name="com.pillpal.app.modules.profile.ui.ProfileActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.pillpal.app.modules.reminder.ui.ReminderActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.pillpal.app.modules.profiletwo.ui.ProfileTwoActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.pillpal.app.modules.calendardateempty.ui.CalendarDateEmptyActivity" android:screenOrientation="portrait"/>
        <activity  android:exported="true"
            android:name="com.pillpal.app.modules.druginteractionempty.ui.DrugInteractionEmptyActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.pillpal.app.modules.calendardatecontent.ui.CalendarDateContentActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.pillpal.app.modules.welcomethree.ui.WelcomethreeActivity" android:screenOrientation="portrait"/>
    </application>
</manifest>
